body{
	background-image: url('./popArt.jpg')
	
}

#header {
	border: 1px black solid;
	height: 10px;
	margin-bottom: 10px;
	background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #7f2bb8);
  background-image: -moz-linear-gradient(top, #3498db, #7f2bb8);
  background-image: -ms-linear-gradient(top, #3498db, #7f2bb8);
  background-image: -o-linear-gradient(top, #3498db, #7f2bb8);
  background-image: linear-gradient(to bottom, #3498db, #7f2bb8);
  -webkit-border-radius: 34;
  -moz-border-radius: 34;
  border-radius: 34px;
  text-shadow: 1px 1px 1px #1a181a;
  -webkit-box-shadow: 5px 4px 9px #666666;
  -moz-box-shadow: 5px 4px 9px #666666;
  box-shadow: 5px 4px 9px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 20px 15px 20px;
  border: solid #010a0f 1px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

#startButton {
	float: left;
	display: flex;
	justify-content: center;
	border: 1px black solid;
	width:120px;
	height: 30px;
	border-radius: 15px;
	background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #7f2bb8);
  background-image: -moz-linear-gradient(top, #3498db, #7f2bb8);
  background-image: -ms-linear-gradient(top, #3498db, #7f2bb8);
  background-image: -o-linear-gradient(top, #3498db, #7f2bb8);
  background-image: linear-gradient(to bottom, #3498db, #7f2bb8);
  -webkit-border-radius: 34;
  -moz-border-radius: 34;
  border-radius: 34px;
  text-shadow: 1px 1px 1px #1a181a;
  -webkit-box-shadow: 5px 4px 9px #666666;
  -moz-box-shadow: 5px 4px 9px #666666;
  box-shadow: 5px 4px 9px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #010a0f 1px;
  text-decoration: none;
}

#startButton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #137dc4);
  background-image: -moz-linear-gradient(top, #3cb0fd, #137dc4);
  background-image: -ms-linear-gradient(top, #3cb0fd, #137dc4);
  background-image: -o-linear-gradient(top, #3cb0fd, #137dc4);
  background-image: linear-gradient(to bottom, #3cb0fd, #137dc4);
  text-decoration: none;
}

#scoreBox {
	border: 1px black solid;
	float: right;
	width: 240px;
	height: 100px;
	display: flex;
	justify-content: left;
	margin-bottom: 10px;
	background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #7f2bb8);
  background-image: -moz-linear-gradient(top, #3498db, #7f2bb8);
  background-image: -ms-linear-gradient(top, #3498db, #7f2bb8);
  background-image: -o-linear-gradient(top, #3498db, #7f2bb8);
  background-image: linear-gradient(to bottom, #3498db, #7f2bb8);
  -webkit-border-radius: 34;
  -moz-border-radius: 34;
  border-radius: 34px;
  text-shadow: 1px 1px 1px #1a181a;
  -webkit-box-shadow: 5px 4px 9px #666666;
  -moz-box-shadow: 5px 4px 9px #666666;
  box-shadow: 5px 4px 9px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #010a0f 1px;
  text-decoration: none;
}

#albumCover {

}

#score {
	margin-left: 50px;
}

#message{
	margin-top: 40px;
	margin-right: 100px;
	display: flex;
	justify-content: left;
}
#imgBox {
	border: 1px black solid;
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	width: 330px;
	height: 300px;
	border-radius: 200px;
	background-position: center;
	background-size: 490px 490px;
	background-image: url('./spinningRecordGif.gif')
}
#shuffledv {
	display: flex;
	margin-right: auto;
	margin-left: 40%;

}	
	
	


.options{
	border: 1px black solid;
	width: 180px;
	height: 40px;
	border-radius: 15px;
	display: flex;
	margin-right: auto;
	margin-left: 40%;
	float: left;
	justify-content: center;
	margin-top: 10px;
	background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #7f2bb8);
  background-image: -moz-linear-gradient(top, #3498db, #7f2bb8);
  background-image: -ms-linear-gradient(top, #3498db, #7f2bb8);
  background-image: -o-linear-gradient(top, #3498db, #7f2bb8);
  background-image: linear-gradient(to bottom, #3498db, #7f2bb8);
  -webkit-border-radius: 34;
  -moz-border-radius: 34;
  border-radius: 34px;
  text-shadow: 1px 1px 1px #1a181a;
  -webkit-box-shadow: 5px 4px 9px #666666;
  -moz-box-shadow: 5px 4px 9px #666666;
  box-shadow: 5px 4px 9px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #010a0f 1px;
  text-decoration: none;
}

.options:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #137dc4);
  background-image: -moz-linear-gradient(top, #3cb0fd, #137dc4);
  background-image: -ms-linear-gradient(top, #3cb0fd, #137dc4);
  background-image: -o-linear-gradient(top, #3cb0fd, #137dc4);
  background-image: linear-gradient(to bottom, #3cb0fd, #137dc4);
  text-decoration: none;
}